@import '../../../global.scss';

.container {
    @include center;
    pointer-events: none;
    position: absolute;
    bottom: 35px;
    width: 100%;
    z-index: 20;

    .taskbar {
        @include center;
        pointer-events: all;
        gap: 20px;
        .add {
            @include blur;
            @include act;
            @include big-radius;
            @include center;
            width: 40px;
            height: 40px;
            font-size: 1.5em;
        }
        .appcontainer {
            @include blur;
            @include big-radius;
            @include medium-transition;
            @include center;
            height: 60px;
            padding: 10px;
            gap: 15px;
            overflow: hidden;
            &>div {
                @include center;
                @include act;
            }
            .app-icon {
                @include slow-transition;
                width: 0px;
                &.show {
                    width: 40px;
                }
            }
        }
    }
}
