@mixin vars {
    $text: #000 !global;
    $text2: #444 !global;
    $bg: #ffffff !global;
    $bg50: #ffffff80 !global;
    $bg70: #ffffffa0 !global;
    $sd: #22222230 !global;
    $card: #efefef55 !global;
    $hover: #ffffff65 !global;
    $hover-half: #ffffff40 !global;
    $hover-b: #1111110f !global;
    $bggrey: #ddd !global;
    $fill: #d3d3d370 !global;
    $mm: #ffffffc0 !global;
    $cm: #fafafabb !global;
    $bar: #efefef37 !global;
    $hr: #ccc !global;
    $unfoc: #eaeaea !global;
    $msg: #ffffffe7 !global;
    $theme-1: #ad6eca !global;
    $theme-2: #3b91d8 !global;
    $href: #2983cc !global;
    $bd: #8f8f8f30 !global;
    $s3d: #99999947 !global;
    $mica: linear-gradient(215deg, #ffe7f6, #a9c3ff) !global;
}

@mixin vars-dark {
    $text: #ddd !global;
    $text2: #aaa !global;
    $bg: #000000 !global;
    $bg50: #00000060 !global;
    $bg70: #00000090 !global;
    $sd: #000000a0 !global;
    $card: #72727240 !global;
    $hover: #aaaaaa15 !global;
    $hover-half: #ffffff0a !global;
    $hover-b: #eeeeee0f !global;
    $bggrey: #444 !global;
    $fill: #54545470 !global;
    $mm: #ffffff50 !global;
    $cm: #252525bb !global;
    $bar: #7272722a !global;
    $hr: #333 !global;
    $unfoc: #202020 !global;
    $msg: #303030d0 !global;
    $bd: #ffffff06 !global;
    $s3d: #11111150 !global;
    $mica: linear-gradient(215deg, #2d161c, #102d53) !global;
}

@mixin big-radius {
    border-radius: 10px;
}

@mixin medium-radius {
    border-radius: 5px;
}

@mixin small-radius {
    border-radius: 3px;
}

@mixin fast-transition {
    transition: 50ms;
}

@mixin medium-transition {
    transition: 200ms;
}

@mixin slow-transition {
    transition: 500ms;
}

@mixin exslow-transition {
    transition: 1s;
}

@mixin blur($background: #ffffffa0) {
    backdrop-filter: blur(180px) saturate(1.5);
    filter: none;
    -webkit-backdrop-filter: blur(80px) saturate(1.5);
    background-color: $background;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin act {
    transition: opacity 80ms, transform 400ms cubic-bezier(0.14, 1.02, 0.17, 0.03) !important;
    &:active {
        transform: scale(0.93);
        filter: opacity(0.75);
    }
}

@mixin scrollbar {
    ::-webkit-scrollbar {
        border-radius: 7px;
        height: 14px;
        width: 14px;
    }

    ::-webkit-scrollbar:hover {
        background-color: #efefef55;
    }

    ::-webkit-scrollbar-thumb {
        background: #7f7f7f70;
        background-clip: padding-box;
        border: 6px solid transparent;
        @include big-radius;
    }

    ::-webkit-scrollbar-thumb:hover {
        border: 4px solid transparent;
    }

    ::-webkit-scrollbar-corner {
        display: none;
    }
}

@mixin abs {
    position: absolute;
    left: 0;
    top: 0;
}

@mixin a {
    cursor: pointer;
}

@mixin linear-text {
    background-image: linear-gradient(100deg, $theme-1, $theme-2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: saturate(130%) brightness(1.1);
}

@mixin user {
    width: 60px;
    height: 60px;
    background-color: $hover-b;
    border-radius: 50%;
    padding: 11px;
}
