@import "./global.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    touch-action: none;
}

body,
html {
    width: 100%;
    height: 100%;
    @include scrollbar;
}

img {
    pointer-events: none;
}
